.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.text-dark {
    color: #fed136 !important;
    font-weight: bold;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.content {
    margin-top: 30px;
}

@media screen and (max-width: 700px) {
    .button {
        margin: 0px !important;
    }
}

